extends ../layouts/layout.jade

- var title = `redirects | ${options.APP_NAME}`

block content
  div.container-fluid
    h1 #{options.APP_NAME} admin
    div.table-responsive
      table.table.table-striped.table-bordered.redirects-table
        thead.thead-default
          tr
            th(width="20%")
              a(href='?sort=key&direction=up') Key
            th(width="50%")
              a(href='?sort=url&direction=up') URL
            th(width="5%")
              a(href='?sort=clicks&direction=up') Clicks
            th(width="15%")
              a(href='?sort=created_at&direction=down') Created At
            th(width="10%") Action
        tbody
          tr
            form(action="/admin/redirect/create", method="POST")
              input(type="hidden", name="_csrf", value=token)
              td
                input.form-control(name="key", placeholder="Redirect")
              td
                input.form-control(name="url", placeholder="https://")
              td —
              td —
              td(colspan=2)
                button.btn.btn-success.btn-block Create / Update
          each redirect in redirects
            tr
              td.td-overflow(style='vertical-align: middle')
                a(href=("/admin/view/"+redirect.key))=redirect.key
              td.td-overflow
                a(href=redirect.url)= redirect.url
              td= redirect.clicks
              td= redirect.created_at
              form(action="/admin/redirect/delete", method="POST")
                td(colspan=2)
                  input(type="hidden", name="_csrf", value=token)
                  input(type="hidden", name="key", value=redirect.key)
                  button.btn.btn-danger.btn-block.remove-button Remove
    a.btn.btn-primary.btn-block.logout-button(href="/admin/logout") Log out
