extends ../layouts/layout.jade

block content
    div.container-fluid(style="max-width: 1000px;")
      h1 #{options.APP_NAME} admin
      table.table.table-striped(style="table-layout: fixed;")
        tr
          th.col-sm-2 Key
          th.col-sm-7 URL
          th.col-sm-3(colspan=3) Clicks
        tr
          form(action="/admin/redirect/create", method="POST")
            input(type="hidden", name="_csrf", value=token)
            td.col-sm-2
              input.form-control(name="key", placeholder="Redirect Name")
            td.col-sm-7
              input.form-control(name="url", placeholder="https://")
            td.col-sm-1 N/A
            td.col-sm-2(colspan=2)
              button.btn.btn-danger.btn-block Create / Update
        each redirect in redirects
          tr
            td.col-sm-2
              a(href=("/"+redirect.key))=redirect.key
            td.col-sm-7(style="overflow: hidden; text-overflow: ellipsis; word-break: keep-all;")
              a(href=redirect.url)= redirect.url
            td.col-sm-1= redirect.clicks
            form(action="/admin/redirect/delete", method="POST")
              td.col-sm-2(colspan=2)
                input(type="hidden", name="_csrf", value=token)
                input(type="hidden", name="key", value=redirect.key)
                button.btn.btn-default.btn-block.remove-button Remove
      a.btn.btn-default.btn-block(href="/admin/logout") Log out
