extends ../layouts/layout.jade

- var title = `redirects | ${options.APP_NAME}`

block content
  div.container-fluid
    h1 #{options.APP_NAME} admin
    div.table
      table.table.table-striped.redirects-table
        thead
          tr
            th.col-sm-2 Key
            th.col-sm-5 URL
            th.col-sm-1 Clicks
            th.col-sm-2 Date Added
            th.col-sm-2 Action
        tbody
          tr
            form(action="/admin/redirect/create", method="POST")
              input(type="hidden", name="_csrf", value=token)
              td.col-sm-2
                input.form-control(name="key", placeholder="Redirect")
              td.col-sm-5
                input.form-control(name="url", placeholder="https://")
              td.col-sm-1 —
              td.col-sm-2 —
              td.col-sm-2(colspan=2)
                button.btn.btn-success.btn-block Create / Update
          each redirect in redirects
            tr
              td.col-sm-2.td-overflow(style='vertical-align: middle')
                a(href=("/"+redirect.key))=redirect.key
              td.col-sm-5.td-overflow
                a(href=redirect.url)= redirect.url
              td.redirect-list.col-sm-1= redirect.clicks
              td.col-sm-2= redirect.createdAt.toLocaleString()
              form(action="/admin/redirect/delete", method="POST")
                td.col-sm-2(colspan=2)
                  input(type="hidden", name="_csrf", value=token)
                  input(type="hidden", name="key", value=redirect.key)
                  button.btn.btn-warning.btn-block.remove-button Remove
      a.btn.btn-primary.btn-block.logout-button(href="/admin/logout") Log out
