extends ../layouts/layout.jade

- var title = `Details ${key} | ${options.APP_NAME}`

block content
  div.container-fluid
    h2
      code #{key}
      &nbsp; Detials
    div.table-responsive.redirects-table
      table.table.table-striped
        tbody
         tr
           th Key
           td
             a(href='/#{key}' target='_blank') #{key}
         tr
           th URL
           td
             a(href=url)=url
         tr
           th Clicks
           td #{count}
         tr
           th Created At
           td #{created_at}
        tr
          th Created By
          td #{created_by}

    div#chart.clicksChart

    script(src="/assets/js/Chart.bundle.min.js")
    script(src="/assets/js/chartkick.js")
    script(type='text/javascript').
      window.onload = function () {
         new Chartkick.LineChart("chart", location.pathname + "/visits")
      }