extends ../layouts/layout.pug

block vars
  - var title = `Details ${key} | ${options.APP_NAME}`

block content
  div.container-fluid
    h1.text-light.display-4
      code #{key}
    div.table-responsive
      table.table.table-striped.table-bordered.table-dark
        tbody
          //-  tr
          //-    th Key
          //-    td
          //-      a(href=`/${key}` target='_blank') #{key}
          tr
            th(width="10%") URL
            td
              a(href=`/${key}` target='_blank')=url
          tr
            th(width="10%") Clicks
            td #{count}
          tr
            th(width="10%") Created At
            td #{created_at}
          tr
            th(width="10%") Created By
            td #{created_by}
          tr
            th(width="10%") Show Stats By
            td
              select#groupingOption.form-control
                for item in select_options
                  option(id=item.value, value=item.value)
                    | #{item.text}
          tr
            th Update
            td
              form.form-inline(action="/admin/redirect/update", method="POST")
                input(type="hidden", name="_csrf", value=token)
                input(type="hidden", name="key", value=key)
                .form-group
                  input.form-control(type="url", name="url" value=url)
                button.btn.btn-info.mx-md-2 Update

    div#chart.clicksChart.bg-light

    div.col-md-2
      form(action="/admin/redirect/delete", method="POST")
        input(type="hidden", name="_csrf", value=token)
        input(type="hidden", name="key", value=key)
        button.btn.btn-danger.remove-button Remove
        //- :confirm => t('.destroy_confirm.body', :item => options[:item]),
        //- 'data-confirm-fade' => true,
        //- 'data-confirm-title' => t('.destroy_confirm.title', :item => options[:item]),
        //- 'data-confirm-cancel' => t('.destroy_confirm.cancel', :item => options[:item]),
        //- 'data-confirm-cancel-class' => 'btn-default'),
        //- 'data-confirm-proceed' => t('.destroy_confirm.proceed', :item => options[:item]),
        //- 'data-confirm-proceed-class' => 'btn-danger'

    script(src="/chartjs/Chart.bundle.min.js")
    script(src="/chartkick/chartkick.js")
    link(type="text/stylesheet" href="/chartjs/Chart.min.css")
    script(type='text/javascript').
      window.onload = function () {
        new Chartkick.ColumnChart(
          "chart",
          location.pathname + "/visits" + location.search,
          { xtitle: "#{group_by}", ytitle: "Clicks" }
        );

        $('#groupingOption').val("#{group_by}");

        document.getElementById('groupingOption').onchange = function () {
          window.location = location.pathname + '?group_by=' + this.value;
        };
      }
