nav.navbar.sticky-top.navbar-toggleable-md.navbar-inverse.bg-faded.bg-inverse
  button.navbar-toggler.navbar-toggler-right(
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  )
    span.navbar-toggler-icon
  a.navbar-brand(href="#") #{options.APP_NAME}

  div.collapse.navbar-collapse#navbarSupportedContent
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href="/redirects") Redirects
      li.nav-item
        a.nav-link(href="/users") Users

