nav.nav.navbar.sticky-top.navbar-expand-lg.navbar-toggleable-md.navbar-light.bg-light
  button.navbar-toggler.navbar-toggler-right(
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  )
    span.navbar-toggler-icon
  a.navbar-brand(href="/admin") #{options.APP_NAME}

  div.collapse.navbar-collapse#navbarSupportedContent
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href="/admin/redirects") Redirects
      li.nav-item
        a.nav-link(href="/admin/new") Create
      li.nav-item
        a.nav-link(href="/admin/users") Users
