extends ./layouts/layout.pug

block vars
  - var title = `${options.APP_NAME} | ${statusCode}`

block content
  div.container
    h1(style="color: #d43f3a; font-size: 12em; text-align: center;") #{statusCode}

    #errorMsg
      if missingPath
      h3.text-light(style="text-align: center;") The redirect <code>#{missingPath}</code> does not exist. :(
      else if errorMessage
        h3.text-light(style="text-align: center;") Uh oh! Something went wrong. :(
        h3.text-light(style="text-align: center;") <code>#{errorMessage}</code>
    h2.text-light(style="font-size: 5em; text-align: center; line-height: 2em;")
      a(href="#{optionsROOT_REDIRECT}")
        span #{options.APP_NAME}
